<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
	  <!--Conexion Rodrigo -->
	  <!--
   <add name="DBRubicat" connectionString="Data Source=DESKTOP-USBOBOI\sqlexpress;Initial Catalog=DBRubicat;Integrated Security=True" providerName="System.Data.SqlClient" />
	  -->
	  
	  <!--Conexio Aplicacion -->
	  <!--<add name="DBRubicat" connectionString="Data Source=DESKTOP-USBOBOI\sqlexpress;Initial Catalog=DBRubicatDemo;Integrated Security=True" providerName="System.Data.SqlClient" />
	  -->
	  
	  <!--Conexion Claudio -->
	  
	  <add name="DBRubicat" connectionString="Data Source=H594BHA\sqlexpress;Initial Catalog=DBRubicat;Integrated Security=True" providerName="System.Data.SqlClient" />
	  
	  <!--Excluir este conexion para armar la aplicacion -->
	 
	  <add name="Datos.Properties.Settings.DBRubicat" connectionString="Data Source=.\sqlexpress;Initial Catalog=msdb;Integrated Security=True" providerName="System.Data.SqlClient" />
	  
  </connectionStrings>
</configuration>